<div>
    <h2>Welcome to the ecommerce {{user.lastName}} {{user.firstName}}!</h2>
    <h3>Mail: {{user.email}}, Age: {{user.age}}, Role: {{user.role}}</h3>
</div>
<div>
    <h2>Product List</h2>
    <div class="miniBar">
        <div class="buttonGroup">
            <button onclick="sortBy('asc')" class="miniBarButton">Asc</button>
            <button onclick="sortBy('desc')" class="miniBarButton">Desc</button>
        </div>
        <div>
            <input type="number" id="limit" value="10">
        </div>
        <div>
            <input type="text" id="search" placeholder="Enter title">
            <button onclick="search()" class="miniBarButton">Search</button>
        </div>
        <div>
            <input type="text" id="category" placeholder="Enter category">
            <button onclick="filterByCategory()" class="miniBarButton">Filter</button>
        </div>
        <div>
            <input type="text" id="status" placeholder="Enter status">
            <button onclick="filterByStatus()" class="miniBarButton">Filter</button>
        </div>
    </div>
    <ul>
        {{#each products}}
        <li>
            <a href="/api/products/{{_id}}"><h4>{{title}}</h4></a>
            <form action="/api/carts/{{../user.cart}}/product/{{_id}}" method="POST">
                <button type="submit" class="button">Add to cart</button>
            </form>
        </li>
        {{/each}}
    </ul>
    {{#if totalPages}}
    <div class="pagination">
        {{#if prevLink}}
        <a href="{{prevLink}}">Previous</a>
        {{/if}}

        {{#if nextLink}}
        <a href="{{nextLink}}">Next</a>
        {{/if}}
    </div>
    {{/if}}
</div>

<link rel="stylesheet" href="./css/search.css">

<script>
    const currentUrl = "http://localhost:8080/api/products";

    function sortBy(order) {
        const limit = document.getElementById('limit').value;
        const newURL = generatePaginatedLink(currentUrl, { sort: order, limit });
        window.location.href = newURL;
    }

    function search() {
        const limit = document.getElementById('limit').value;
        const title = document.getElementById('search').value;
        const newURL = generatePaginatedLink(currentUrl, { title, limit });
        window.location.href = newURL;
    }

    function filterByCategory() {
        const limit = document.getElementById('limit').value;
        const category = document.getElementById('category').value;
        const newURL = generatePaginatedLink(currentUrl, { category, limit });
        window.location.href = newURL;
    }

    function filterByStatus() {
        const limit = document.getElementById('limit').value;
        const status = document.getElementById('status').value;
        const newURL = generatePaginatedLink(currentUrl, { status, limit });
        window.location.href = newURL;
    }

    const generatePaginatedLink = (baseUrl, queryParams) => {
        const url = new URL(baseUrl);

        Object.keys(queryParams).forEach(key => {
            url.searchParams.append(key, queryParams[key]);
        });

        return url.toString();
    };
</script>

<link rel="stylesheet" href="../css/search.css">