
<div>
    <h2>Users List</h2>
    <div class="miniBar">
        <div class="buttonGroup">
            <button onclick="sortBy('asc')" class="miniBarButton">Asc</button>
            <button onclick="sortBy('desc')" class="miniBarButton">Desc</button>
        </div>
        <div>
            <input type="number" id="limit" value="10">
        </div>
        <div>
            <input type="text" id="search" placeholder="Enter firstName">
            <button onclick="search()" class="miniBarButton">Search</button>
        </div>
        <div>
            <input type="text" id="role" placeholder="Enter role">
            <button onclick="filterByRole()" class="miniBarButton">Filter</button>
        </div>
        <div>
            <input type="text" id="provider" placeholder="Enter provider">
            <button onclick="filterByProvider()" class="miniBarButton">Filter</button>
        </div>
    </div>
    <ul>
        {{#each users}}
        <li>
            <p><b>Name:</b> {{firstName}} {{lastName}}<br/>
            <b>Email:</b> {{email}}<br/>
            <b>Role:</b> {{role}}<br/>
            <b>Provider:</b> {{provider}}<br/>
            <b>Last Connection:</b> {{lastConnection}}<br/>

        </li>
        {{/each}}
    </ul>
    {{#if totalPages}}
    <div class="pagination">
        {{#if prevLink}}
        <a href="{{prevLink}}">Previous</a>
        {{/if}}

        {{#if nextLink}}
        <a href="{{nextLink}}">Next</a>
        {{/if}}
    </div>
    {{/if}}
</div>



<script>
    const currentUrl = "http://localhost:8080/api/users";

    function sortBy(order) {
        const limit = document.getElementById('limit').value;
        const newURL = generatePaginatedLink(currentUrl, { sort: order, limit });
        window.location.href = newURL;
    }

    function search() {
        const limit = document.getElementById('limit').value;
        const firstName = document.getElementById('search').value;
        const newURL = generatePaginatedLink(currentUrl, { firstName, limit });
        window.location.href = newURL;
    }

    function filterByRole() {
        const limit = document.getElementById('limit').value;
        const role = document.getElementById('role').value;
        const newURL = generatePaginatedLink(currentUrl, { role, limit });
        window.location.href = newURL;
    }

    function filterByProvider() {
        const limit = document.getElementById('limit').value;
        const provider = document.getElementById('provider').value;
        const newURL = generatePaginatedLink(currentUrl, { provider, limit });
        window.location.href = newURL;
    }

    const generatePaginatedLink = (baseUrl, queryParams) => {
        const url = new URL(baseUrl);

        Object.keys(queryParams).forEach(key => {
            url.searchParams.append(key, queryParams[key]);
        });

        return url.toString();
    };
</script>

<link rel="stylesheet" href="../../css/search.css">